body {
  letter-spacing: 0;
  font-size: 1em;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #080d26;
  font-size: 1em;
}

label {
  margin-bottom: .3em;
  font-size: 1.25em;
  font-weight: 700;
  display: block;
}

blockquote {
  border-left: .3em solid #e2e2e2;
  margin-bottom: 1em;
  padding: 1em 2em 1em 1.7em;
  font-size: 1.2em;
  line-height: 1.6;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.styleguide_item {
  border-bottom: .1em solid #bdbdbd;
  padding: 2em 0;
}

.global_embed {
  width: 0;
  height: 0;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.global_symbol {
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.styleguide_rich-text p {
  margin-top: 0;
  margin-bottom: 1.6em;
}

.styleguide_rich-text h1 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 3.28em;
}

.styleguide_rich-text h2 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 2.5em;
}

.styleguide_rich-text h3 {
  margin-top: 0;
  margin-bottom: .3em;
  font-size: 2.19em;
}

.styleguide_rich-text h4 {
  margin-top: 0;
  margin-bottom: .4em;
  font-size: 1.88em;
}

.styleguide_rich-text h5 {
  margin-top: 0;
  margin-bottom: .6em;
  font-size: 1.67em;
}

.styleguide_rich-text h6 {
  margin-top: 0;
  margin-bottom: .7em;
  font-size: 1.46em;
}

.page-wrapper {
  width: 100%;
  font-size: 1em;
  position: relative;
  overflow: hidden;
}

.text-size-h1 {
  font-size: 3.28em;
  line-height: 1.2;
}

.text-size-h2 {
  font-size: 2.5em;
  line-height: 1.2;
}

.text-size-h3 {
  font-size: 2.19em;
  line-height: 1.3;
}

.text-size-h4 {
  font-size: 1.88em;
  line-height: 1.3;
}

.text-size-h5 {
  font-size: 1.67em;
  line-height: 1.3;
}

.text-size-h6 {
  font-size: 1.46em;
}

.styleguide_form-input {
  height: 3em;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0;
  margin-bottom: 1em;
  padding: 0 .9em;
  font-size: 1.25em;
}

.text-size-display {
  font-size: 4.38em;
  line-height: 1.1;
}

.styleguide_form-submit {
  font-size: 1.25em;
}

.styleguide_list {
  grid-column-gap: 2.5em;
  grid-row-gap: 2.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.page-padding {
  padding: 5em 6%;
}

.hero-section {
  height: 75vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo {
  width: 7em;
}

.nav-containe {
  width: 100%;
  min-width: 100%;
  border-bottom: 0 solid #a3c1cc;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 4em;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
}

.body {
  background-color: #eaeaf5;
  font-size: 1.1vw;
}

.brand-logo {
  margin-top: .25em;
  display: flex;
}

.nav-link {
  text-align: left;
  padding: 1em;
  font-family: Generalsans, sans-serif;
  font-size: .875em;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.w--current {
  color: #080d26;
}

.heading-wrapper {
  max-width: 71em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  display: flex;
}

.heading-wrapper.hero {
  max-width: 58em;
}

.heading-1 {
  color: #080d26;
  text-align: center;
  font-family: Generalsans, sans-serif;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 1.3;
}

.button-cta {
  background-color: #080d26;
  border-radius: .2em;
  padding: .75em 2em;
  font-family: Generalsans, sans-serif;
  font-size: 1em;
  transition: background-color .2s;
}

.button-cta:hover {
  background-color: #655aff;
}

.nav-menu {
  display: flex;
}

.logo-carousel {
  width: 100%;
  grid-column-gap: 6em;
  grid-row-gap: 0px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0%;
  display: flex;
  overflow: hidden;
}

.carousel-component {
  z-index: 1;
  height: 5.125em;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 2em;
  position: relative;
}

.carousel {
  width: 100%;
  height: 5.125em;
  flex-direction: row;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.logo-carousel-wrap {
  width: auto;
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  transform: perspective(1px);
}

.logo-image.nttcomm {
  width: 6em;
}

.logo-image.shell {
  width: 5em;
}

.logo-image.google {
  width: 4em;
}

.logo-image.bosch {
  width: 5.625em;
}

.logo-image.bank-america {
  width: 11.125em;
}

.logo-image.avaso {
  width: 5em;
}

.logo-image.adidas {
  width: 2.5em;
}

.logo-image.mccain {
  width: 5em;
}

.logo-image.gm {
  width: 1.75em;
}

.logo-image.citi {
  width: 2.125em;
}

.logo-image.scotiabank {
  width: 7em;
}

.logo-image.anofi {
  width: 6em;
}

.logo-image.unilever {
  width: 7em;
}

.logo-image.xerox {
  width: 5em;
}

.logo-image.dimension-data {
  width: 6.25em;
}

.logo-image.honda {
  width: 6em;
}

.logo-image.docom {
  width: 4.5em;
}

.logo-image.manulife {
  width: 7em;
}

.logo-image.uniqld {
  width: 3.5em;
}

.logo-image.microsoft {
  width: 6.25em;
}

.logo-image.deutsche-bank {
  width: 8em;
}

.logo-image.gdt {
  width: 4em;
}

.logo-image.pwc {
  width: 4.125em;
}

.logo-image.hsbc {
  width: 5.25em;
}

.logo-image.ntt {
  width: 4.25em;
}

.logo-image.gsk {
  width: 4em;
}

.logo-image.axalogo {
  width: 3em;
}

.logo-image.g {
  width: 2.5em;
}

.logo-image.jd, .logo-image.sinai {
  width: 6em;
}

.logo-image.aspen {
  width: 3em;
}

.logo-image.nycedc {
  width: 6em;
}

.logo-image.healthy {
  width: 2.3em;
}

.logo-image.tdf, .logo-image.pr-council {
  width: 2.6em;
}

.logo-image.aicpa {
  width: 4em;
}

.logo-image.nyc-parks {
  width: 3em;
}

.logo-image.cno {
  width: 9em;
}

.logo-image.ludwig {
  width: 4.4em;
}

.logo-image.cardinal {
  width: 7em;
}

.logo-image.human {
  width: 6em;
}

.logo-image.tufts, .logo-image.rwj, .logo-image.hire {
  width: 7em;
}

.logo-image.nasdaq {
  width: 6em;
}

.logo-image.nielsen {
  width: 5em;
}

.logo-image.florida {
  width: 9em;
}

.logo-image.society {
  width: 7em;
}

.logo-image.highmore {
  width: 10em;
}

.logo-image.jackson, .logo-image.westfield, .logo-image.duke {
  width: 5em;
}

.logo-image.checkpoint {
  width: 9em;
}

.logo-image.jeff, .logo-image.island {
  width: 10em;
}

.logo-image.mit-cbi {
  width: 8em;
}

.logo-image.lucid {
  width: 3.3em;
}

.logo-image.sopris {
  width: 8em;
}

.logo-image.aliv {
  width: 4em;
}

.logo-image.workstride {
  width: 7em;
}

.logo-image.bnp {
  width: 5.5em;
}

.logo-image.clayton {
  width: 3em;
}

.logo-image.hmh, .logo-image.teton, .logo-image.blue-cross, .logo-image.the-key {
  width: 5em;
}

.logo-carousel-clone {
  width: 100%;
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  overflow: hidden;
}

.highlight {
  color: #655aff;
  -webkit-text-stroke-color: #655aff;
  padding-left: 0;
  padding-right: 0;
}

.line {
  width: .125em;
  height: 2em;
  background-color: #655aff;
  margin-bottom: 2em;
}

.video-section {
  padding: 6em 12em;
}

.subcribtion-based {
  background-color: #eaeaf5;
  padding: 6em 4em;
}

.h2 {
  text-align: center;
  font-family: Generalsans, sans-serif;
  font-size: 3.5em;
  font-weight: 500;
  line-height: 1.1;
}

.h2.white {
  color: #eaf0f5;
}

.h2.white.link {
  text-decoration: underline;
}

.p {
  color: #080d26;
  font-family: Generalsans, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
}

.p.center {
  text-align: center;
}

.p.center.max-w {
  max-width: 38.2em;
}

.p.center.max-w.white {
  color: #eaf0f5;
}

.p.center.max-w.bold {
  margin-top: 1em;
  font-weight: 600;
}

.p.center.max-w._3 {
  max-width: 41em;
}

.p.white {
  color: #fff;
}

.p.white.center {
  font-size: .9em;
}

.p.white.center.max-w.subh {
  font-size: 1.25em;
}

.heading-h2 {
  grid-column-gap: 2em;
  grid-row-gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.process-overview {
  justify-content: flex-start;
  margin-top: 8em;
  padding-left: 0;
  display: flex;
}

.process-overview._2 {
  justify-content: center;
  margin-top: 6em;
}

.h3 {
  font-family: Generalsans, sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1;
}

.process-wrapper {
  grid-row-gap: 4em;
  flex-direction: column;
  display: flex;
}

.process {
  max-width: 22em;
  grid-row-gap: 1em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0;
  display: flex;
}

.process.center {
  align-items: center;
}

.h4 {
  font-family: Generalsans, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
}

.process-horiz {
  grid-column-gap: 4em;
  grid-row-gap: 4em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  margin-left: 8em;
  display: grid;
}

.process-horiz.overview {
  grid-row-gap: 2em;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  display: flex;
}

.process-horiz.overview.s {
  grid-column-gap: 4em;
  grid-row-gap: 2em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.benefits {
  background-color: #080d26;
  padding: 6em 4em;
}

.benefits-wrapper {
  grid-column-gap: 6em;
  grid-row-gap: 4em;
  justify-content: center;
  margin-top: 8em;
  display: flex;
}

.benefits-wrapper._2 {
  margin-top: 6em;
}

.benefits-wrapper.hide {
  grid-column-gap: 4em;
  grid-row-gap: 4em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.process-copy {
  max-width: 22em;
  grid-row-gap: 1em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 8em;
  display: flex;
}

.benefit-w {
  max-width: 26em;
  grid-row-gap: 1em;
  color: #eaf0f5;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  display: flex;
}

.benefit-w.grid {
  display: flex;
}

.faq-section {
  padding: 6em 4em;
}

.number-div {
  width: 2.375em;
}

.p-18 {
  letter-spacing: .01em;
  font-family: Generalsans, sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  line-height: 190%;
}

.p-18.center {
  max-width: 45em;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
}

.accordion-item-trigger {
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1em;
  display: flex;
}

.h3-2 {
  letter-spacing: .01em;
  font-family: Generalsans, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 150%;
}

.h3-2.item-number {
  width: auto;
  padding-right: 0;
}

.text-block {
  width: 50%;
  white-space: normal;
  flex: none;
  padding-left: .9375em;
  padding-right: .9375em;
}

.text-block.h3 {
  width: 64.35%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.5em;
  font-weight: 600;
}

.icon {
  width: 3em;
  color: #fff;
  -webkit-text-stroke-color: #fff;
}

.icon.accordion-icon {
  width: 1em;
  color: rgba(0, 0, 0, .6);
  cursor: pointer;
  font-size: 2em;
  line-height: 30px;
}

.probl-sol-headline {
  width: 100%;
  grid-column-gap: 1.875em;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.details-div {
  width: 100%;
  grid-column-gap: 0em;
  grid-row-gap: 2em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  display: flex;
}

.accordion-item-2 {
  border-bottom: .0625em solid #000;
  border-radius: 0;
  margin-bottom: 2em;
  padding: 2em 0;
}

.accordion-wrapper {
  width: 80%;
  margin-top: 0;
}

.accordion-wrapper.grid-item.full-grid {
  width: 100%;
  margin-top: 6em;
}

.accordion-item-content {
  grid-row-gap: 4em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  overflow: hidden;
}

.h3-3 {
  letter-spacing: .01em;
  font-family: Generalsans, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 150%;
}

.h3-3.item-number {
  width: auto;
  padding-right: 0;
}

.section.case-studies {
  background-color: #eff1fa;
  padding: 6em 4em;
}

.big-case-study {
  width: 100%;
  height: 30em;
  background-color: #fff;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
  display: flex;
}

.sinai-logo {
  width: 14em;
}

.case-study-rows {
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  flex-direction: row;
  margin-top: 1em;
  display: flex;
}

.case-study {
  width: 50%;
  height: 20em;
  background-color: #fff;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.blue-cross {
  width: 12em;
}

.articles-section {
  padding: 6em 4em;
}

.articles-wrapperr {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  margin-top: 6em;
  display: grid;
}

.article {
  text-decoration: none;
}

.article-img {
  width: 100%;
  margin-bottom: .5em;
}

.image {
  width: 100%;
}

.article-p {
  font-family: Generalsans, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
}

.team-section {
  background-color: #eff1fa;
  padding: 6em 4em;
}

.team-section.hide {
  display: none;
}

.teams {
  justify-content: flex-start;
  margin-top: 0;
  padding-left: 0;
  display: flex;
}

.teams.center {
  justify-content: center;
  margin-bottom: 2em;
}

.team {
  max-width: 22em;
  grid-row-gap: .5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0;
  display: flex;
}

.contact-section {
  background-color: #080d26;
  padding: 6em 4em 1em;
}

.link-block {
  height: 32em;
  justify-content: center;
  align-items: center;
  padding-bottom: 5em;
  display: flex;
}

.arrow {
  color: #fff;
  margin-top: .75em;
  margin-left: 1em;
}

.footer--row {
  grid-column-gap: 4em;
  justify-content: flex-start;
  display: flex;
}

.footer-info {
  max-width: 10em;
}

.link-2 {
  color: #fff;
}

.copy {
  color: #fff;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: Generalsans, sans-serif;
  font-size: .75em;
}

.footer {
  justify-content: space-between;
  display: flex;
}

.logo-footer {
  height: 5em;
}

.benefits-list {
  grid-row-gap: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  display: flex;
}

.nav-center {
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
}

.case-study-section {
  margin-top: 6em;
  padding-left: 4em;
  padding-right: 4em;
}

.case-study-img {
  background-color: #fff;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  padding-top: 8em;
  padding-bottom: 8em;
  display: flex;
}

.body-2 {
  background-color: #eff1fa;
}

.center-div {
  justify-content: center;
  align-items: center;
  display: flex;
}

.center-div.p {
  margin-top: 1em;
}

.center-div.vertical {
  flex-direction: column;
}

.section-pricing {
  background-color: #eff1fa;
  padding: 6em 4em;
}

.pricing-wrapper {
  padding: 50px;
}

.pricing-wrapper.left {
  width: 26em;
  float: none;
  text-align: left;
  background-color: #f7f7f7;
  background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9));
  border-radius: 12px;
  margin-left: 0;
  padding: 2em 3em 4em;
  position: static;
}

.pricing-plan {
  height: auto;
  color: #000;
  text-align: left;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-top-color: #e7e8ea;
  border-bottom: 1px solid #f1f1f7;
  margin-left: -3em;
  margin-right: -3em;
  padding-bottom: 1em;
  padding-left: 3.125em;
  padding-right: 3em;
  font-family: Generalsans, sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 40px;
}

.color-line {
  width: 20%;
  background-color: #7567f8;
  border-bottom: 3px solid #1665af;
  align-items: center;
  margin: -2px auto 15px;
  display: block;
}

.color-line.pricing {
  width: 25%;
  background-color: #655aff;
  border-bottom-color: #655aff;
  margin: 10px 0 40px;
}

.big-pricing-text {
  color: #7567f8;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 300;
  line-height: 80px;
}

.big-pricing-text.free {
  color: #655aff;
  margin-top: 0;
  margin-bottom: 8px;
  padding-right: 5px;
  font-family: Generalsans, sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 40px;
  display: inline-block;
}

.big-pricing-text.inline {
  color: #655aff;
  margin-bottom: 0;
  font-family: Generalsans, sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 25px;
  display: inline-block;
}

.image-7 {
  width: 1.5em;
  filter: invert();
  border-radius: 100%;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.list-item {
  margin-bottom: .75em;
  padding-left: 1.875em;
  line-height: 24px;
  position: relative;
}

.list-text {
  color: #080d26;
  text-align: left;
  font-family: Generalsans, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.top-padding {
  margin-top: 20px;
}

.top-padding.center {
  margin-bottom: 0;
}

.text-block-2 {
  font-size: 1em;
}

.details-pricing-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  margin-top: 4em;
  display: flex;
}

.title-price {
  line-height: 140%;
}

.background-video {
  width: 100%;
  height: 34em;
}

.cta-section {
  justify-content: center;
  align-items: flex-start;
  padding-top: 4em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
}

@media screen and (max-width: 991px) {
  .hero-section {
    padding-left: 2em;
    padding-right: 2em;
  }

  .body {
    font-size: 16px;
  }

  .nav-link {
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    line-height: 1;
  }

  .nav-menu {
    height: 100vh;
    background-color: #655aff;
    justify-content: center;
    align-items: center;
    padding-top: 10em;
  }

  .video-section, .subcribtion-based {
    padding: 4em 2em;
  }

  .process-horiz {
    grid-column-gap: 1em;
    margin-left: 4em;
  }

  .process-horiz.overview {
    margin-left: 4em;
  }

  .process-horiz.overview.s {
    margin-left: 0;
  }

  .benefits {
    padding-left: 2em;
    padding-right: 2em;
  }

  .benefits-wrapper {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    margin-top: 4em;
  }

  .benefit-w {
    max-width: 12em;
    min-width: 12em;
  }

  .number-div {
    width: 2.375em;
  }

  .p-18 {
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 400;
  }

  .accordion-item-trigger {
    padding-bottom: 32px;
  }

  .h3-2.item-number {
    font-size: 2em;
  }

  .text-block.h3 {
    width: 80%;
    font-size: 2em;
  }

  .icon.accordion-icon {
    width: 32px;
    margin-top: 8px;
  }

  .details-div {
    width: 70%;
    grid-row-gap: 16px;
  }

  .accordion-item-content {
    align-items: center;
  }

  .h3-3.item-number {
    font-size: 2em;
  }

  .section.case-studies, .articles-section {
    padding: 4em 2em;
  }

  .articles-wrapperr {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .team-section {
    padding: 4em 2em;
  }

  .contact-section {
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .footer {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    flex-direction: column-reverse;
  }

  .logo-footer {
    width: 8em;
    height: auto;
    max-width: none;
  }

  .menu-button.w--open {
    color: #080d26;
    background-color: rgba(0, 0, 0, 0);
  }

  .pricing-wrapper.left {
    width: 47%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .pricing-plan {
    margin-left: 0;
    margin-right: -30px;
    padding-left: 0;
    padding-right: 0;
  }

  .details-pricing-wrapper {
    flex-flow: wrap;
  }
}

@media screen and (max-width: 767px) {
  .nav-containe {
    padding-left: 2em;
    padding-right: 2em;
  }

  .heading-1 {
    font-size: 2em;
  }

  .logo-carousel {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
  }

  .carousel-component {
    height: 64px;
    border-top-width: 1px;
    border-bottom-width: 1px;
  }

  .carousel {
    height: 64px;
  }

  .logo-carousel-wrap {
    grid-column-gap: 44px;
    grid-row-gap: 44px;
  }

  .logo-image.bosch, .logo-image.bank-america {
    width: 60px;
  }

  .logo-image.microsoft {
    width: 50px;
  }

  .h2 {
    font-size: 3em;
  }

  .h2.white {
    font-size: 2.5em;
  }

  .p.center.max-w {
    font-size: 1em;
  }

  .process-overview {
    flex-direction: column;
    align-items: flex-start;
  }

  .h3 {
    font-size: 3em;
  }

  .process-horiz {
    grid-row-gap: 2em;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    margin-left: 0;
  }

  .process-horiz.overview {
    margin-top: 2em;
    margin-left: 0;
  }

  .process-horiz.overview.s {
    grid-template-columns: 1fr 1fr;
  }

  .benefits-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .benefits-wrapper._2 {
    margin-top: 2em;
  }

  .benefits-wrapper.hide {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .benefit-w {
    max-width: 22em;
    min-width: 19em;
  }

  .faq-section {
    padding: 4em 2em;
  }

  .number-div {
    width: 33px;
  }

  .p-18 {
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 400;
  }

  .h3-2.item-number {
    font-size: 24px;
  }

  .text-block.h3 {
    width: 80%;
    font-size: 24px;
  }

  .icon.accordion-icon {
    font-size: 24px;
  }

  .probl-sol-headline {
    grid-column-gap: 32px;
  }

  .details-div {
    width: 100%;
    margin-left: 0;
  }

  .accordion-wrapper.grid-item.full-grid {
    margin-top: 2em;
  }

  .accordion-item-content {
    margin-right: 0;
  }

  .h3-3.item-number {
    font-size: 24px;
  }

  .case-study-rows {
    grid-row-gap: 1em;
    flex-direction: column;
  }

  .case-study {
    width: 100%;
  }

  .articles-wrapperr {
    grid-template-columns: 1fr 1fr;
  }

  .teams {
    flex-direction: column;
  }

  .footer--row {
    grid-row-gap: 2em;
    flex-direction: column;
  }

  .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .pricing-wrapper.left {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .heading-1 {
    font-size: 1.75em;
  }

  .logo-carousel {
    grid-column-gap: 44px;
    grid-row-gap: 44px;
  }

  .h2, .h2.white {
    font-size: 2em;
  }

  .h2.white.link {
    text-align: left;
    font-size: 3em;
  }

  .process-overview._2 {
    margin-top: 4em;
  }

  .h3 {
    font-size: 2em;
  }

  .h4 {
    font-size: 1.2em;
  }

  .process-horiz, .process-horiz.overview {
    grid-template-columns: 1fr;
  }

  .process-horiz.overview.s {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .benefit-w {
    max-width: 100%;
    min-width: 100%;
  }

  .number-div.number-home {
    display: none;
  }

  .p-18 {
    line-height: 170%;
  }

  .h3-2 {
    font-size: 16px;
    line-height: 170%;
  }

  .h3-2.item-number {
    display: block;
  }

  .h3-2.item-number.mobile-hide {
    display: none;
  }

  .text-block.h3 {
    width: 90%;
    letter-spacing: .5px;
    padding-right: 32px;
    font-size: 20px;
    line-height: 140%;
  }

  .probl-sol-headline {
    grid-column-gap: 16px;
  }

  .details-div {
    width: 100%;
    margin-left: 0;
  }

  .accordion-item-2 {
    border-bottom-width: 1px;
    padding-top: 32px;
    padding-bottom: 48px;
  }

  .accordion-item-content {
    flex-wrap: nowrap;
  }

  .h3-3 {
    font-size: 16px;
    line-height: 170%;
  }

  .h3-3.item-number {
    display: block;
  }

  .h3-3.item-number.mobile-hide {
    display: none;
  }

  .big-case-study {
    margin-top: 2em;
  }

  .articles-wrapperr {
    grid-template-columns: 1fr;
    margin-top: 4em;
  }

  .link-block {
    height: 24em;
  }

  .menu-button {
    background-color: rgba(0, 0, 0, 0);
  }

  .case-study-section {
    margin-top: 4em;
    padding-left: 24px;
    padding-right: 24px;
  }

  .section-pricing {
    padding-left: 24px;
    padding-right: 24px;
  }

  .pricing-wrapper.left {
    width: 100%;
  }

  .pricing-plan {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
}


@font-face {
  font-family: 'Generalsans Variable';
  src: url('../fonts/GeneralSans-Variable.woff2') format('woff2'), url('../fonts/GeneralSans-Variable.woff2') format('woff2'), url('../fonts/GeneralSans-Variable.woff2') format('woff2'), url('../fonts/GeneralSans-Variable.eot') format('embedded-opentype'), url('../fonts/GeneralSans-Variable.woff') format('woff'), url('../fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-VariableItalic.woff2') format('woff2'), url('../fonts/GeneralSans-VariableItalic.woff2') format('woff2'), url('../fonts/GeneralSans-Italic.woff2') format('woff2'), url('../fonts/GeneralSans-VariableItalic.eot') format('embedded-opentype'), url('../fonts/GeneralSans-Italic.eot') format('embedded-opentype'), url('../fonts/GeneralSans-VariableItalic.woff') format('woff'), url('../fonts/GeneralSans-VariableItalic.woff') format('woff'), url('../fonts/GeneralSans-VariableItalic.woff') format('woff'), url('../fonts/GeneralSans-Italic.woff') format('woff'), url('../fonts/GeneralSans-VariableItalic.ttf') format('truetype'), url('../fonts/GeneralSans-Italic.ttf') format('truetype');
  font-weight: 200 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Extralight.woff2') format('woff2'), url('../fonts/GeneralSans-Extralight.eot') format('embedded-opentype'), url('../fonts/GeneralSans-Extralight.woff') format('woff'), url('../fonts/GeneralSans-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-ExtralightItalic.woff2') format('woff2'), url('../fonts/GeneralSans-ExtralightItalic.eot') format('embedded-opentype'), url('../fonts/GeneralSans-ExtralightItalic.woff') format('woff'), url('../fonts/GeneralSans-ExtralightItalic.woff') format('woff'), url('../fonts/GeneralSans-ExtralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Light.woff2') format('woff2'), url('../fonts/GeneralSans-Light.eot') format('embedded-opentype'), url('../fonts/GeneralSans-Light.woff') format('woff'), url('../fonts/GeneralSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-LightItalic.woff2') format('woff2'), url('../fonts/GeneralSans-LightItalic.eot') format('embedded-opentype'), url('../fonts/GeneralSans-LightItalic.woff') format('woff'), url('../fonts/GeneralSans-LightItalic.ttf') format('truetype'), url('../fonts/GeneralSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Regular.woff2') format('woff2'), url('../fonts/GeneralSans-Regular.eot') format('embedded-opentype'), url('../fonts/GeneralSans-Regular.woff') format('woff'), url('../fonts/GeneralSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-MediumItalic.woff2') format('woff2'), url('../fonts/GeneralSans-MediumItalic.eot') format('embedded-opentype'), url('../fonts/GeneralSans-MediumItalic.woff') format('woff'), url('../fonts/GeneralSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Medium.woff2') format('woff2'), url('../fonts/GeneralSans-Medium.eot') format('embedded-opentype'), url('../fonts/GeneralSans-Medium.woff') format('woff'), url('../fonts/GeneralSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Semibold.woff2') format('woff2'), url('../fonts/GeneralSans-Semibold.eot') format('embedded-opentype'), url('../fonts/GeneralSans-Semibold.woff') format('woff'), url('../fonts/GeneralSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-SemiboldItalic.woff2') format('woff2'), url('../fonts/GeneralSans-SemiboldItalic.eot') format('embedded-opentype'), url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'), url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'), url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'), url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'), url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'), url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'), url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'), url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'), url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'), url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'), url('../fonts/GeneralSans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Bold.woff2') format('woff2'), url('../fonts/GeneralSans-Bold.eot') format('embedded-opentype'), url('../fonts/GeneralSans-Bold.woff') format('woff'), url('../fonts/GeneralSans-Bold.ttf') format('truetype'), url('../fonts/GeneralSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-BoldItalic.woff2') format('woff2'), url('../fonts/GeneralSans-BoldItalic.woff2') format('woff2'), url('../fonts/GeneralSans-BoldItalic.woff2') format('woff2'), url('../fonts/GeneralSans-BoldItalic.eot') format('embedded-opentype'), url('../fonts/GeneralSans-BoldItalic.woff') format('woff'), url('../fonts/GeneralSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}